
.icon-tools:before { content: '\e800'; } /* '' */
.icon-gauge:before { content: '\e801'; } /* '' */
.icon-comment:before { content: '\e802'; } /* '' */
.icon-chat-1:before { content: '\e803'; } /* '' */
.icon-monitor:before { content: '\e804'; } /* '' */
.icon-mobile:before { content: '\e805'; } /* '' */
.icon-lifebuoy:before { content: '\e806'; } /* '' */
.icon-globe:before { content: '\e807'; } /* '' */
.icon-chart-bar:before { content: '\e808'; } /* '' */
.icon-key:before { content: '\e809'; } /* '' */
.icon-floppy:before { content: '\e80a'; } /* '' */